
.userAvatarContainer {
  padding: 20px 0 0 0;
  min-width: 110px;
  border-bottom: 1px solid #F5F5F7;
}

.name {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.contact {
  cursor: pointer;
}